<link rel="stylesheet" href="/styling/header.css">

<div class="header container-fluid">
    <div class="row align-items-center">
        <div class="col-3 col-md-4 text-center">
            <img src="/images/oranBat.png" alt="lol" class="oranBat img-fluid">
        </div>
        <div class="col-6 col-md-4 text-center">
            <h1><span class="ping">Ping</span> <span class="and">&</span> <span class="pong">Pong</span></h1>
        </div>
        <div class="col-3 col-md-4 text-center">
            <img src="/images/blauwBat.png" alt="lol" class="blauwBat img-fluid">
        </div>
    </div>
</div>