<link rel="stylesheet" href="/styling/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<div class="container-fluid buttons">
    <div class="row h-100 justify-content-center align-items-start my-custom-top">
        <div id="newmatchButton"
            class="col-12 button buttonRight justify-content-center d-flex align-items-center text-center">
            <i class="bi bi-box-arrow-in-right"></i>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-1 col-md-3"></div>
        <div class="col-10 col-md-6 match" id="match"></div>
        <div class="col-1 col-md-3"></div>
</div>



<script>
    var matchDiv = document.getElementById(id="match")
    $.get('/match/data', function(result){
        matchDiv.innerHTML = ""
        console.log(result)
        result.forEach((element) => {
            var div = document.createElement("div")
            div.classList.add("matchDiv")
            div.innerHTML = `
                <p>Left: ${element.scoreLeft}</p>
                <p>Right: ${element.scoreRight}</p>
                <p>Time Played: ${element.timestamp}</p>
            `

            matchDiv.appendChild(div)
        })
    })


    var newmatchButton = document.getElementById("newmatchButton")

    newmatchButton.addEventListener("click", () => {
        window.location.href = "/match";
    })
</script>